@font-face{
    font-family:'poppinsblack' ;
    src: url('../fontspoppins-black-webfont.woff2') format('woff2'),
         url('../fontspoppins-black-webfont.woff2') format('woff2');
    font-weight:normal;
    font-style: normal;
}

@font-face{
    font-family:'poppinsblack' ;
    src: url('../fontspoppins-black-webfont.woff2') format('woff2'),
         url('../fontspoppins-black-webfont.woff2') format('woff2');
    font-weight:normal;
    font-style: normal;
}


@font-face{
    font-family:'poppinsblack' ;
    src: url('../fontspoppins-black-webfont.woff2') format('woff2'),
         url('../fontspoppins-black-webfont.woff2') format('woff2');
    font-weight:normal;
    font-style: normal;
}